# CityBikes

Send a request to CityBikes for the city of your choice.

In [1]:
import requests
import os
import pandas as pd

#sending request to Citybikes for Siena
id = "bicincitta-siena"
url = "http://api.citybik.es/v2/networks/" + id

headers = {"accept": "application/JSON"}

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [2]:
#Parse through the response to get the details of Siena city

response = requests.get(url, headers=headers)
res_json = response.json()


res_stations = res_json['network']['stations']

res_stations
dict = {}
lst_dict = []
for station in res_stations:
    dict = {}
    dict['station name'] = station['name']
    dict['empty slots'] = station['empty_slots']
    dict['available bikes'] = station['free_bikes']
    dict['latitude'] = station['latitude']
    dict['longitude'] = station['longitude']
    lst_dict.append(dict)

lst_dict

[{'station name': '01. Curtatone',
  'empty slots': 16,
  'available bikes': 0,
  'latitude': 43.32159969615422,
  'longitude': 11.327948187171955},
 {'station name': '02. S. Agostino',
  'empty slots': 8,
  'available bikes': 2,
  'latitude': 43.314553575496504,
  'longitude': 11.331021341104474},
 {'station name': '03. S. Girolamo',
  'empty slots': 7,
  'available bikes': 0,
  'latitude': 43.31653903296188,
  'longitude': 11.337211648409948},
 {'station name': '04. Fortezza',
  'empty slots': 9,
  'available bikes': 1,
  'latitude': 43.3205234076899,
  'longitude': 11.32322528552777},
 {'station name': '05. Antiporto',
  'empty slots': 9,
  'available bikes': 1,
  'latitude': 43.32898332166825,
  'longitude': 11.321913356869572},
 {'station name': '06. Due Ponti',
  'empty slots': 9,
  'available bikes': 3,
  'latitude': 43.317187429810794,
  'longitude': 11.354256229005387},
 {'station name': '07. Napoli',
  'empty slots': 5,
  'available bikes': 1,
  'latitude': 43.34175662737405,
  'longitude': 11.305010457706885},
 {'station name': '08. Ospedale',
  'empty slots': 13,
  'available bikes': 1,
  'latitude': 43.343243018858246,
  'longitude': 11.32673330024295},
 {'station name': '09. Acquacalda',
  'empty slots': 9,
  'available bikes': 1,
  'latitude': 43.33699934605541,
  'longitude': 11.300974983606011},
 {'station name': '10. Ravacciano',
  'empty slots': 8,
  'available bikes': 2,
  'latitude': 43.323781022808305,
  'longitude': 11.338891018177037},
 {'station name': '11. S. Miniato',
  'empty slots': 9,
  'available bikes': 0,
  'latitude': 43.34779988043242,
  'longitude': 11.326045898741882},
 {'station name': '12. Terminal Bus',
  'empty slots': 10,
  'available bikes': 1,
  'latitude': 43.33228840552265,
  'longitude': 11.32417581394725},
 {'station name': '14. Vico Alto',
  'empty slots': 7,
  'available bikes': 0,
  'latitude': 43.34144450071458,
  'longitude': 11.312348354700475},
 {'station name': "15. Casa dell'Ambiente",
  'empty slots': 6,
  'available bikes': 0,
  'latitude': 43.3267643528839,
  'longitude': 11.333701602030146},
 {'station name': '16. Frajese',
  'empty slots': 1,
  'available bikes': 8,
  'latitude': 43.309896469034115,
  'longitude': 11.315263114715208},
 {'station name': '17. Mercato',
  'empty slots': 0,
  'available bikes': 0,
  'latitude': 43.31731492915876,
  'longitude': 11.332998096329902},
 {'station name': '18. Tufi',
  'empty slots': 6,
  'available bikes': 3,
  'latitude': 43.296855852957854,
  'longitude': 11.334853581853508},
 {'station name': '13. Calamandrei',
  'empty slots': 10,
  'available bikes': 0,
  'latitude': 43.34340723815478,
  'longitude': 11.322848796844482},
 {'station name': '19. Petriccio',
  'empty slots': 9,
  'available bikes': 1,
  'latitude': 43.33464040894888,
  'longitude': 11.304802894592287}]

Put your parsed results into a DataFrame.

In [3]:
#Put parsed results into a DataFrame.
df = pd.DataFrame(lst_dict)
df

              station name  empty slots  available bikes   latitude  longitude
0            01. Curtatone           16                0  43.321600  11.327948
1          02. S. Agostino            8                2  43.314554  11.331021
2          03. S. Girolamo            7                0  43.316539  11.337212
3             04. Fortezza            9                1  43.320523  11.323225
4            05. Antiporto            9                1  43.328983  11.321913
5            06. Due Ponti            9                3  43.317187  11.354256
6               07. Napoli            5                1  43.341757  11.305010
7             08. Ospedale           13                1  43.343243  11.326733
8           09. Acquacalda            9                1  43.336999  11.300975
9           10. Ravacciano            8                2  43.323781  11.338891
10          11. S. Miniato            9                0  43.347800  11.326046
11        12. Terminal Bus           10                1  43.332288  11.324176
12           14. Vico Alto            7                0  43.341445  11.312348
13  15. Casa dell'Ambiente            6                0  43.326764  11.333702
14             16. Frajese            1                8  43.309896  11.315263
15             17. Mercato            0                0  43.317315  11.332998
16                18. Tufi            6                3  43.296856  11.334854
17         13. Calamandrei           10                0  43.343407  11.322849
18           19. Petriccio            9                1  43.334640  11.304803

In [5]:
#save to csv file
df.to_csv('D:\lighthouse_bootcamp\Statistical-Modelling-Project/city_bikes.csv')

In [6]:
# Load the CSV file into a DataFrame
df = pd.read_csv('D:\lighthouse_bootcamp\Statistical-Modelling-Project/city_bikes.csv')

# Display the first few rows of the DataFrame
print(df.head())

   Unnamed: 0     station name  empty slots  available bikes   latitude  \
0           0    01. Curtatone           16                0  43.321600
1           1  02. S. Agostino            8                2  43.314554
2           2  03. S. Girolamo            7                0  43.316539
3           3     04. Fortezza            9                1  43.320523
4           4    05. Antiporto            9                1  43.328983

   longitude
0  11.327948
1  11.331021
2  11.337212
3  11.323225
4  11.321913

In [7]:
# Data audit

# Check for missing values
missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 Unnamed: 0         0
station name       0
empty slots        0
available bikes    0
latitude           0
longitude          0
dtype: int64

In [8]:
# Check data types
data_types = df.dtypes
print("Data Types:\n", data_types)

Data Types:
 Unnamed: 0           int64
station name        object
empty slots          int64
available bikes      int64
latitude           float64
longitude          float64
dtype: object

In [9]:
# Summary statistics
summary_stats = df.describe()
print("Summary Statistics:\n", summary_stats)

Summary Statistics:
        Unnamed: 0  empty slots  available bikes   latitude  longitude
count   19.000000    19.000000        19.000000  19.000000  19.000000
mean     9.000000     7.947368         1.315789  43.327136  11.324959
std      5.627314     3.612843         1.887168   0.013579   0.013211
min      0.000000     0.000000         0.000000  43.296856  11.300975
25%      4.500000     6.500000         0.000000  43.317251  11.318588
50%      9.000000     9.000000         1.000000  43.326764  11.326046
75%     13.500000     9.000000         1.500000  43.339222  11.333350
max     18.000000    16.000000         8.000000  43.347800  11.354256

In [10]:
# Check unique values for categorical columns
unique_values = {}
for column in df.select_dtypes(include=['object']).columns:
    unique_values[column] = df[column].nunique()

print("Unique Values:\n", unique_values)

Unique Values:
 {'station name': 19}